/*
.basic-div{

    background-image: url('../images/Grey-bg.jpg');
    height: 1080px;
    background-repeat: no-repeat;
    background-size: cover;
}
*/


.basic-div {
    background-image: url('../images/grey_charging.jpeg');
    height:105vh;

    overflow:auto;
    padding-top: 5%;
}
.form-signup {
    width: 100%;
    max-width: 500px;
    padding: 50px 50px 25px 50px;
    margin: auto;
    border-style: solid;
    border-width: bold;
    border-color: #5eaaa8;
    background-color: white;
    border-radius: 4%;

  }

.cred-div {
  text-align: left;
  margin:10px;
}
.cred-div .bottom {
  margin-bottom: 20px;
}
.cred-label {
  line-height: 2;
}
.cred-div #username {
  background: url(../images/avatar.png) no-repeat scroll 7px 9px;
  padding-left:30px;
}

.cred-div #password {
  background: url(../images/key.png) no-repeat scroll 7px 9px;
  padding-left:30px;

}

.cred-div #confirm_password {
  background: url(../images/key.png) no-repeat scroll 7px 9px;
  padding-left:30px;
}

.homepage_main {
  width: 100%;
  height: 100vh;
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(170deg, #eeeeee 50%, #393e46 50%);
}

.white-car {
  width: 100%;
  height: 600px;
  position: relative;
  bottom: 20%;
}

.data-diagram {
  width: 30%;
  height: 400px;
  position: absolute;
  bottom: 50px;
  right: 100px;
}

.but1 {
  position: relative;
  left: 40%;
  background-color: #3affc7;


}

.but2 {
  position: relative;
  left: 45%;
  top: 200px;
}

.but1:hover {
  background-color: #c4ffed;

}

.script1 {
  position: relative;
  left: 40%
}

.script2 {
  position: relative;
  top: 100px;
  left: 45%;
}
/*
background: rgb(26,38,48);
background: linear-gradient(0deg, rgba(26,38,48,1) 0%, rgba(44,60,74,1) 6%, rgba(81,97,115,1) 13%, rgba(0,26,38,1) 100%);
*/
